<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* CSS styles for the movie names */
        ul {
            list-style-type: none; /* Remove default list styling */
            padding: 0; /* Remove default padding */
            display: flex; /* Use flexbox for horizontal layout */
            flex-wrap: wrap; /* Wrap items to new line when necessary */
        }
        li {
            margin-right: 10px; /* Add some spacing between each movie */
            padding: 150px; /* Padding inside the box */
            border: 1px solid #ccc; /* Border around each box */
            display: block; 
            border-radius: 5px; /* Rounded corners for the box */
        }
    </style>
</head>
<body>
    <h1 align="center">MOVIES</h1>
    <ul>
        <li><a href="/booking?movie=demo1">demo1</a></li>
        <li><a href="/booking?movie=demo2">demo2</a></li>
        <li><a href="/booking?movie=demo3">demo3</a></li>
        <li><a href="/booking?movie=demo3">demo3</a></li>
        <li><a href="/booking?movie=demo4">demo4</a></li>
        <li><a href="/booking?movie=demo5">demo5</a></li>
        <li><a href="/booking?movie=demo6">demo6</a></li>
    </ul>
</body>
</html>